@use '../settings/helpers/' as *;

////
/// @group tools/layout
////

/// Generate flexbox grid column style settings.
/// The widths are based on the grid widths map $grid-widths found on settings/layout
///
/// @param {String} $width [full] - Name of the grid width
/// @access public

@mixin grid-column($width: full) {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;

  @if $width == full {
    flex: 1 1 auto;
  } @else {
    flex: 0 0 get-grid-width($width);
  }
}
