@use '../settings' as *;
@use 'media-queries' as *;

////
/// @group settings/helpers/layout
////

/// Get a grid width from grid width map
///
/// @param {String} $width ['full'] - Name of the grid width
/// @return {Number} Percent of the corresponding width
/// @access public

@function get-grid-width($width: 'full') {
  @if map-has-key($grid-widths, $width) {
    @return map-get($grid-widths, $width);
  } @else {
    @warn 'Width #{$width} does not exist in widths $grid-widths';
  }
}

////
/// @group tools/layout
////

/// Generate flexbox grid column style settings.
/// The widths are based on the grid widths map $grid-widths found on settings/layout
///
/// @param {String} $width [full] - Name of the grid width
/// @access public

@mixin grid-column($width: full, $breakpoint: null) {
  box-sizing: border-box;
  padding: $gutter-half;

  @if $breakpoint == null {
    @if $width == full {
      flex: 1 1 auto;
    } @else {
      flex: 0 0 get-grid-width($width);
    };
  } @else {
    flex: 1 1 100%;

    @include media-query($from: $breakpoint) {
      @if $width == full {
        flex: 1 1 auto;
      } @else {
        flex: 0 0 get-grid-width($width);
      };
    }
  }
}
